@import '../../../styles/helper';

button.button {
    @include no-select;

    color: white;
    display: flex;
    gap: 12px;
    padding: 8px 18px;
    border-radius: 8px;
    border: 0;
    text-decoration: none;
    appearance: none;
    margin: 0;
    background-color: rgb(17, 17, 17);
    transition: ease-in transform 0.1s;

    &:disabled,
    .disabled {
        opacity: 0.55;
    }

    &:not(.button--minimal-style) {
        font-family: 'Changa';
        font-weight: 700;
        font-size: 1.6em;
    }
}

a {
    text-decoration: none;
}