.layout {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &__head {
        &__title {
            flex-grow: 1;
        }
    }

    &__head,
    &__foot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        overflow: hidden;
        gap: 24px;

        &__actions {
            display: flex;
            gap: 12px;
            padding: 24px 0;

            &:empty {
                display: none;
            }
        }
    }

    &__content {
        overflow-y: auto;
        padding: 24px 0;
        
        &--no-scroll {
            overflow: hidden;
        }

        &::-webkit-scrollbar{
            display: none;
        }
    }

    @media (max-width: 600px) {
        &__head,
        &__foot {
            padding: 0 12px;

            &__actions {
                padding: 12px 0;
            }
        }
    }

    @media all and (display-mode: standalone) {
        height: calc(100% - 36px);
    }
}