@import '../../../styles/helper';

.cards-left {
    @include no-select;

    font-size: 1.2em;
    opacity: 0.55;
}

.end-of-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}