@import '../../../styles/helper';

.game-list {
    @include no-select;

    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 24px;
    align-items: center;
    min-height: 100%;
    box-sizing: border-box;
    padding: 0;

    &__item {
        margin: 0;
        padding: 18px;
        list-style: none;
        border-radius: 8px;
        text-align: center;
        max-width: 500px;
        width: 100%;
        box-sizing: border-box;
        background: rgb(17, 17, 17);
        color: inherit;
        text-decoration: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;

        p {
            margin: 0;
            line-height: 1em;
        }

        &__title {
            font-family: 'Changa';
            font-size: 1.6em;
            font-weight: 700;
        }

        &__description {
            font-size: 1.1em;
            opacity: 0.55;
        }

        &__pills {
            display: flex;
            gap: 6px;

            &__pill {
                font-size: 0.8em;
                display: flex;
                padding: 3px 8px;
                gap: 6px;
                border-radius: 3px;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.075);
                color: rgba(255, 255, 255, 0.55);
                font-weight: 600;
                white-space: nowrap;
            }
        }
    }
}