.page-layout {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    height: 100%;
    box-sizing: border-box;

    &__content {
        flex-grow: 1;
        overflow-y: auto;
    }

    &__top,
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 0;
    }

    @media (max-width: 600px) {
        padding: 12px;
        gap: 12px;
    }

    @media all and (display-mode: standalone) {
        padding-bottom: 48px;
    }
}