.page-layout {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    gap: 24px;
    height: 100%;
    box-sizing: border-box;

    &__content,
    &__top,
    &__bottom {
        padding-left: 24px;
        padding-right: 24px;
    }

    &__content {
        flex-grow: 1;
        overflow-y: auto;
    }

    &__top,
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 0;
    }

    @media (max-width: 600px) {
        padding: 12px 0;
        gap: 12px;

        &__content,
        &__top,
        &__bottom {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    @media all and (display-mode: standalone) {
        padding-bottom: 48px;
    }
}