@import '../../../styles/helper';

.instruction-page {
    &__head-title {
        @include no-select;
        margin: 0;
        line-height: 1em;
        font-family: var(--theme-special-font);
        transition: ease-in translate 0.1s;
        padding: 12px 0;

        &--hidden {
            translate: 0 70px;
        }
    }

    &__content {
        @include no-select;
        min-height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 24px;

        markdown {
            max-width: 600px;
        }
    }
}