@import '../../../styles/helper';

.home-page {
    &__head-title {
        @include no-select;
        margin: 0;
        line-height: 1em;
        font-family: var(--theme-special-font);
        transition: ease-in translate 0.1s;
        padding: 12px 0;
        font-weight: 700;

        &--hidden {
            translate: 0 70px;
        }
    }

    &__title {
        @include no-select;
        font-family: var(--theme-special-font);
        text-align: center;
        font-size: 3em;
        margin: 36px 0;
        line-height: 1em;
        font-weight: 900;
    }

    &__content {
        @include no-select;
        min-height: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: auto 1fr;
        justify-content: stretch;
        justify-items: center;
        padding: 0 24px;
    }

    &__lists {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 500px;
        width: 100%;
    }

    &__continue {
        &__title {
            text-align: center;
            font-size: 1.3em;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 12px;
        }

        &__item {
            display: grid;
            grid-template-columns: minmax(0, 1fr) auto;
            gap: 12px;

            &__content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 12px;
            }

            &__title {
                font-size: 1.8em;
                font-family: var(--theme-special-font);
                font-weight: 700;
            }

            &__progress {
                font-size: 1.4em;
                opacity: 0.55;
            }
        }
    }

    hr {
        width: 100%;
        opacity: 0.125;
    }

    @media (max-width: 600px) {
        &__title {
            margin: 0px 0 24px 0;
        }

        &__content {
            padding: 0 12px;
        }
    }
}