.game-card {
    width: 100%;
    flex-direction: column;
    font-size: 1.1em;
    padding: 24px;

    p {
        margin: 0;
    }

    &__title {
        font-family: changa;
        margin: 0;
        font-size: 1.45em;
        font-weight: 600;
        line-height: 1em;
    }

    &__description {
        line-height: 1em;
        font-weight: 500;
        opacity: 0.55;
        font-family: 'Nunito';
    }

    &__pills {
        display: flex;
        gap: 6px;
    }

    &__pill {
        background-color: rgba(white, 0.2);
        color: rgba(white, 0.55);
        font-size: 0.8em;
        padding: 2px 12px;
        border-radius: 3px;
        font-family: 'Nunito';
        display: flex;
        gap: 6px;
        align-items: center;
    }
}