.game-card {
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    padding: 24px;
    text-align: center;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: var(--theme-special-font);
    cursor: grab;
    display: flex;

    &__content {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        margin: 0 auto;
        flex-direction: column;
        box-shadow: var(--theme-button-shadow);

        &__top {
            opacity: 0.65;
            font-size: 0.75em;
        }
    }

    &.theme {
        &--blue,
        &--green,
        &--red,
        &--wnrs {
            align-items: center;

            .game-card__content {
                background: var(--theme-button);
                color: var(--theme-button-contrast);
                min-height: min(100%, 240px);
                min-width: min(100%, 400px);
                padding: 48px 24px;
                border-radius: calc(var(--theme-button-border-radius) * 1px);
                box-sizing: border-box;
            }
        }
    }

    &--system {
        font-size: 1.7em;
        font-weight: 500;
        font-style: italic;
        opacity: 0.55;
    }
    
    &:active {
        cursor: grabbing;
    }

    &:not(.game-card--system)::after {
        content: "";
        height: 100%;
        width: 100%;
        background-color: transparent;
        opacity: 0.5;
        position: absolute;
        pointer-events: all;
    }
}