@import '../../styles/index.scss';

.game-slide {
    @include no-select;
    height: 100%;
    color: black;
    background-color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 24px;
    text-align: center;
    overflow-y: auto;
    border-radius: 12px;
    box-sizing: border-box;
    border: solid 1px lightgray;

    &__content {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--system {
        font-size: 1.7em;
        font-style: italic;
        color: rgba(black, 0.55);
    }

    &__next {
        background-color: red;
    }
}