@import '../../../styles/helper';

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    opacity: 0.55;
}

.game-list {
    @include no-select;

    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 24px;
    align-items: center;
    min-height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 72px;

    &__item {
        margin: 0;
        padding: 18px;
        list-style: none;
        border-radius: min(calc(var(--theme-button-border-radius) * 1px), 24px);
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        background: var(--theme-button);
        color: var(--theme-button-contrast);
        box-shadow: var(--theme-button-shadow);
        text-decoration: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;

        &--selected {
            opacity: 0.75;
        }

        p {
            margin: 0;
            line-height: 1em;
        }

        &__title {
            font-family: var(--theme-special-font);
            font-size: 1.6em;
            font-weight: 700;
        }

        &__description {
            font-size: 1.1em;
            opacity: 0.55;
        }

        &__pills {
            display: flex;
            gap: 6px;

            &__pill {
                position: relative;
                font-size: 0.8em;
                display: flex;
                padding: 4px 8px;
                gap: 6px;
                align-items: center;
                color: var(--theme-button-contrast);
                opacity: 0.75;
                font-weight: 600;
                white-space: nowrap;

                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-color: var(--theme-button-contrast);
                    opacity: 0.1;
                    z-index: -1;
                    border-radius: 3px;
                }
            }
        }
    }
}

.game-start-button {
    position: fixed;
    bottom: 24px;
    left: 50%;
    border: solid 3px var(--theme-primary);
    transform: translateX(-50%);
    border-radius: 10px;
    width: 100%;
    max-width: 500px;

    &__content {
        text-align: center;
        width: 100%;
    }

    @media all and (display-mode: standalone) {
        bottom: 36px;
    }
}