.game-card {
    height: 100%;
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 24px;
    text-align: center;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: changa;
    cursor: grab;

    &__content {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        margin: 0 auto;
    }

    &--system {
        font-size: 1.7em;
        color: rgba(white, 0.55);
        font-family: nunito;
        font-weight: 500;
    }
    
    &:active {
        cursor: grabbing;
    }
}