section {
    h2 {
        margin-top: 0;
    }

    .options {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }

    &:not(:last-child) {
        margin-bottom: 36px;
    }

    &.theme {
        .options {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: stretch;

            app-simple-button {
                aspect-ratio: 16/9;
                text-align: center;
                display: flex;
                width: 100%;

                &::ng-deep {
                    app-button {
                        width: 100%;
                    }
                    button {
                        padding: 30px 12px;
                        .content {
                            display: block;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}