@import '../../../../../styles/helper';

button.button {
    @include no-select;

    background: var(--theme-button);
    color: var(--theme-button-contrast);
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: min(calc(var(--theme-button-border-radius) * 1px), 12px);
    border: 0;
    text-decoration: none;
    appearance: none;
    margin: 0;
    box-shadow: var(--theme-button-shadow);
    transition: ease-in transform 0.1s;

    &:disabled,
    .disabled {
        opacity: 0.55;
    }

    &--size {
        &--default {
            padding: 8px 18px;
        }

        &--small {
            padding: 6px 12px;
        }
    }

    &:not(:disabled):not(.disabled) {
        transition: ease-in scale 0.1s;
        cursor: pointer;

        @media (hover: hover) {
            &:hover {
                &.button--effect {
                    &--small {
                        scale: 1.025;
                    }
                    &--default {
                        scale: 1.05;
                    }
                    &--large {
                        scale: 1.1;
                    }
                }
            }
        }

        &:active {
            &.button--effect {
                &--small {
                    scale: 0.975;
                }
                &--default {
                    scale: 0.95;
                }
                &--large {
                    scale: 0.9;
                }
            }
        }
    }
}

a {
    text-decoration: none;
}