$primary-color: rgb(28, 20, 68);
$primary-contrast-color: white;
$secondary-color-1: rgb(96, 80, 245);
$secondary-color-2: rgb(79, 176, 248);
$secondary-color-3: rgb(237, 123, 56);
$secondary-color-4: rgb(119, 208, 152);
$secondary-color-5: rgb(233, 63, 137);