@import '../../../styles/helper';

.home-page {
    &__head-title {
        @include no-select;
        margin: 0;
        line-height: 1em;
        font-family: 'Changa';
        transition: ease-in translate 0.1s;
        padding: 12px 0;

        &--hidden {
            translate: 0 70px;
        }
    }

    &__title {
        @include no-select;
        font-family: 'Changa';
        text-align: center;
        font-size: 3em;
        margin: 36px 0;
        line-height: 1em;
    }

    &__content {
        @include no-select;
        min-height: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: auto 1fr;
        justify-content: stretch;
        padding: 0 24px;
    }

    @media (max-width: 600px) {
        &__title {
            margin: 0px 0 24px 0;
        }

        &__content {
            padding: 0 12px;
        }
    }
}